* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Droid Sans";
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #fff;
  color: #242424;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.interactive__click {
  cursor: pointer;
  transition: 0.3s ease all;
}

.interactive__click:hover {
  opacity: 0.9;
}

.interactive__click:focus {
  opacity: 0.9;
}

.interactive__click:active {
  opacity: 0.8;
  scale: 0.9;
}
